@model KutuphaneSistemi.Models.Entitiy.Tbl_Personel
@{
    ViewBag.Title = "Guncelle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<div style="margin-top:20px;">
    <h3>Personel Güncelleme Sayfası</h3>
</div>
@using (Html.BeginForm("Guncelle", "Personel", FormMethod.Post))
 {
   <div style="margin-top:20px;">
       <label>Personel Id:</label>
       @Html.TextBoxFor(x=>x.Id , new {@class="form-control", @readonly="readonly" })
   </div>
   <div style="margin-top:20px;">
       <label>Personel Ad:</label>
       @Html.TextBoxFor(x=>x.Personelad, new {@class="form-control"})
       @Html.ValidationMessageFor(x=>x.Personelad , "",new {@style="color:red"})
   </div>
   <div style="margin-top:20px;">
       <label>Personel Soyad:</label>
       @Html.TextBoxFor(x=>x.Personelsoyad, new {@class="form-control" })
       @Html.ValidationMessageFor(x=>x.Personelsoyad, "", new {@stlye="color: red;"})
   </div>
   <div style="margin-top:20px;">
       <button class="btn btn-success">Personel Güncelle</button>
   </div>
 }
