@using KutuphaneSistemi.Models.Entitiy
@model List<Tbl_Uye>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="margin-top:20px;">
    <h3>Üye Sayfası</h3>
</div>
<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Üye İsim</th>
        <th>Durum</th>
        <th>İşlemler</th>
        <th>Güncelle</th>
        <th>Detay</th>
        <th>Kitaplar</th>
    </tr>
    <tbody>
        @{ string durum = "";}
        @foreach(var x in Model)
        {
            if(x.Durum == true)
            {
                durum = "Aktif";
            }
            if(x.Durum == false)
            {
                durum = "Pasif";
            }
                <tr>
                    <td>@x.Id</td>
                    <td>@x.Ad @x.Soyad</td>
                    <td>@durum</td>
                    <td>
                        @Html.ActionLink("Aktif Yap","Aktif", new {id = x.Id}, new {@class="btn btn-info", onclick="return confirm('Aktif yapmak ister misiniz ?')"})
                        @Html.ActionLink("Pasif Yap","Pasif", new {id = x.Id}, new {@class="btn btn-danger", onclick="return confirm('Pasif yapmak ister misiniz ?')"})
                    </td>
                    <td>
                        <a href="/Uye/Guncelle/@x.Id" class="btn btn-success">Üye Güncelle</a>
                    </td>
                    <td>
                        <a href="/Uye/Detay/@x.Id" class="btn btn-warning">Üye Detay</a>
                    </td>
                    <td>
                        <a href="/Uye/UyeKitaplar/@x.Id" class="btn btn-group" style="background-color:cadetblue; color:white;">Üye Kitaplar</a>
                    </td>
                </tr>
            }
    </tbody>
</table>
<div style="margin-top:20px;">
    <a href="/Uye/Ekle/" class="btn btn-primary">Üye Ekle</a>
</div>