@using KutuphaneSistemi.Models.Entitiy
@model List<Tbl_Hareket>
@{
    ViewBag.Title = "UyeKitaplar";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div style="margin:20px 0px;">

    <h4 style="color:slateblue;">@ViewBag.uyead üyesine ait kitap listesi</h4>
    
</div>
<table class="table table-striped">
    <tr style="background-color:rgb(252,178,22)">
        <th>Kitap Ad</th>
        <th>Alış Tarihi</th>
        <th>İade Tarih</th>
        <th>Durum</th>
    </tr>
    <tbody>
        @{ string durum = "";}
        @foreach (var x in Model)
        {
            if(x.Durum == true)
            {
                durum = "Teslim Edildi";
            }
            if(x.Durum == false)
            {
                durum = "Teslim Edilmedi";
            }
            <tr>
                <td>@x.Tbl_Kitap.Kitapad</td>
                <td>@Convert.ToDateTime(x.Alistarihi).ToShortDateString()</td>
                <td>@Convert.ToDateTime(x.İadetarih).ToShortDateString()</td>
                <td>@durum</td>
            </tr>
        }
    </tbody>
</table>
